@theme inline {
  /* GreyScale */
  --color-black: #000000;
  --color-gray-1: #1c1b1b;
  --color-gray-2: #313030;
  --color-gray-3: #474646;
  --color-gray-4: #5f5e5e;
  --color-gray-5: #787776;
  --color-gray-6: #adabaa;
  --color-gray-7: #e4e2e1;
  --color-gray-8: #ebeff5;
  --color-white: #ffffff;

  /* Point Color */
  --color-primary: #7f1c1d;
  --color-secondary: #ef4444;
  --color-tertiary: #ffb3ad;
}
